html{
  font-size: calc(112.5% + 0.25vw) ;
}

body {
  /* max-width: 1200px; */
  margin:0 auto;
  padding: 0;
  background-color:#defcfc;
  color: black;
  line-height: 2;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", 'arial black';
}

header{
  background-color:#ffe6eb;
  width: 100%;
}

#header{
  min-height: 100px;

}

.wrap{
  margin: 0 auto ;
  width: auto;
  max-width: 980px;
}


a {
  color: #fff;
  text-decoration: none;
  display: block;
}
a:visited{
  color: #fff;
}
 li a:hover{
  transform: scale(1.2);
}

.logo {
  float: left;
}

.global-nav {
  float: right;
}
.global-nav li {
  float: left;
  padding: 0 20px;
  margin: 0 10px;
  list-style: none;
}

header h1 {
  margin: 0 auto;
  font-size: 2.5rem;
}

#main {
  background-image: url("../imgs/main2.jpg");
  height:600px;
}

#main h1,#main p{
  margin: 0 auto;
  padding: 100px 10px 0 ;
  color: #fff;
  text-align: center;
}

main h1{
  font-size: 4rem;
}

main h2{
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
}

.contain{
  min-height: 600px;
  background-color: #fff;
}
.contain p{
  margin: auto;
  padding: 30px 15px;
  display: block;
  width: 600px;
  height: auto;
  line-height: 1.75;
}
.about{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.about-img{
  width: 300px;
  height: 300px;
  margin: 10px auto;
}

.works {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.works li{
  list-style: none;
  display: inline-block;
  margin: 15px auto;
  width: 250px;
  height:250px;
  background-color: black;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height:  250px;
  font-size: 30px;
}

footer{
  width: 100%;
  height: 80px;
  background-color:#ffe6eb;

}

.footer{
  margin: 0 auto ;
  max-width:980px;
}

footer p {
  margin: auto;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}
