html{
  font-size: calc(100% + 1vw) ;
}

body {
  /* max-width: 1200px; */
  margin:0 auto;
  padding: 0;
  background-color:#defcfc;
  color: black;
  line-height: 2;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", 'arial black';
}

header{
  background-color:#ffe6eb;
  width: 100%;
}

#header{
  min-height: 60px;

}

.wrap{
  margin: 0 auto ;
  width: auto;
  max-width: 1200px;
}


li, a {
  color: #fff;
  text-decoration: none;
  display: block;
}
a:visited{
  color: #fff;
}



.global-nav li a:hover{
  transform: scale(1.2);
}

.logo {
  float: left;
}
ul{
  margin:20px auto;
}
.global-nav {
  float: right;
  }
.global-nav li {
  float: left;
  padding: 0 20px;
  margin: 0 10px;
  list-style: none;
}

header h1 {
  margin: 0 auto;
  font-size: 1.5rem;
}
.clear{
clear: both;
}
.sp-menu{
  width: 60px;
  height: 60px;
  position: absolute  ;
  top:0;
  right: 0;
  text-align: center;
  font-size: 30px;
  color: #fff;
  z-index:1
}

#sp-nav{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2
}
#nav-input{
  display: none;
}

#nav-close{
  display: none;
}
.sp-global-nav{
  /* display: none; */
  padding: 0;
  margin: 0;
  list-style: none;
}
.sp-global-nav li{
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  background-color: #222;
  opacity: 0.8;
}


#nav-input:checked ~ #nav-close {
  display: block;
}
#nav-input:checked ~ #nav-open {
  display: none;
}

#main {
  background-image: url("../imgs/main2.jpg");
  background-size: cover;
  height:700px;

}

#main h1,#main p{
  margin: 0 auto;
  padding: 100px 10px 0 ;
  color: #fff;
  text-align: center;
}

main h1{
  font-size: 4rem;
}

main h2{
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
}

.contain{
  min-height: 600px;
  background-color: #fff;
}
.contain p{
  margin: auto;
  padding: 30px 15px;
  display: block;
  width: 600px;
  height: auto;
  line-height: 1.75;
}
.about{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.about-img{
  width: 300px;
  height: 300px;
  margin:  auto;
}

.works {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.works li{
  list-style: none;
  display: inline-block;
  margin: 15px auto;
  width: 250px;
  height:250px;
  background-color: black;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height:  250px;
  font-size: 30px;
}

footer{
  width: 100%;
  height: 80px;
  background-color:#ffe6eb;

}

.footer{
  margin: 0 auto ;
  max-width:980px;
}

footer p {
  margin: auto;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 480px) {
  #pc-nav{
      display:none;
    }
  #sp-nav{
      display: block;

  }
}
